* {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 2vh;
}

:root {
    --main-bg-color: lightgray;
    --secundary-bg-color: #c66366;
  }

.col {
    min-width: 250px;
    text-align: center;
    padding-top: 2%;
}

.row {
    height: 100vh;
}

#img {
    width: 15vh;
    height: 15vh;
}

#center {
    text-align: center;  
}

@media screen and (max-width: 500px) {
    .col:nth-child(odd) {
        background-color:var(--main-bg-color);
    }
    
    .col:nth-child(even) {
        background-color:var(--secundary-bg-color);
    }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
    #c2 {
        background-color:var(--secundary-bg-color);
    }
    
    #c1 {
        background-color:var(--main-bg-color);
           }
}

@media screen and (min-width: 750px) and (max-width: 999px){
    .col:nth-child(odd) {
        background-color:var(--main-bg-color);
        max-width: 34%;
    }

    .col:nth-child(even) {
        background-color:var(--secundary-bg-color);
        max-width: 34%
    }
}

@media screen and (min-width: 1000px) {
    .col:nth-child(odd) {
        background-color:var(--main-bg-color);
        min-width: 33%;
    }
    
    .col:nth-child(even) {
        background-color:var(--secundary-bg-color);
        min-width: 33%;
    }
}